name: Deploy to Firebase

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Set up credentials
        run: |
          echo "${{ secrets.FIREBASE_SERVICE_ACCOUNT_TOKEN }}" > $HOME/gcloud-service-key.json
          export GOOGLE_APPLICATION_CREDENTIALS="$HOME/gcloud-service-key.json"

      - name: Deploy to Firebase
        run: firebase deploy --only hosting
        env:
          PROJECT_ID: uihub-35377